@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.vanishing {
    animation-name: vanish;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes vanish {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
  }
  