name: docker-upload-frontend

on:
  push:
    branches: ["master", "develop"]
  pull_request:
    branches: ["master", "develop"]
env:
  PORT: 4350
  MONGODB_CONNECTION: ${{ secrets.MONGODB_CONNECTION }}
  PASSPORT_SECRET: ${{ secrets.PASSPORT_SECRET }}
  TEST_TYPE: UNIT
  NOTICE_EMAIL_ADDRESS: comp4350.troubleshootr@gmail.com
  NOTICE_EMAIL_PASSWORD: opmwfmphqomlkmlq
    
jobs:
  upload:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    strategy:
        matrix:
          node-version: [16.15.1]
        
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Installing Nodejs dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Log on to Docker
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push to Dockerhub
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: theogschool/castr-frontend:1.0
