name: docker-upload-backend

on:
  push:
    branches: ["master", "develop"]
  pull_request:
    branches: ["master", "develop"]
    
jobs:
  upload:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    strategy:
        matrix:
          node-version: [16.15.1]
        
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Installing Nodejs dependencies
        run: npm install
      - name: Log on to Docker
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push to Dockerhub
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: theogschool/castr-backend:1.0
